<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="form-group col-md-12 bg-primary">
            <label class="control-label" for="billinginformation">Shipping Information</label>
        </div>

        <div class="shipping-info">
            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="firstname">First Name</label>
                <div class="controls">
                    <input id="firstname" name="firstname" type="text" placeholder="" class="form-control" required="">
                </div>
            </div>

            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="lastname">Last Name</label>
                <div class="controls">
                    <input id="lastname" name="lastname" type="text" placeholder="" class="form-control" required="">
                </div>
            </div>

            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="shippingaddress1">Shipping Address 1</label>
                <div class="controls">
                    <input id="shippingaddress1" name="shippingaddress1" type="text" placeholder="" class="form-control" required="">
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label" for="shippingaddress2">Shipping Address 2</label>
                <div class="controls">
                    <input id="shippingaddress2" name="shippingaddress2" type="text" placeholder="" class="form-control" required="">
                </div>
            </div>

            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="shippingcountry">Shipping Country</label>
                <div class="controls">
                    <div class="controls">
                        <select id="shippingcountry" name="shippingcountry" class="input-xlarge">
                            <option>Please Select</option>
                            <option>Australia</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="shippingstate">Shipping State</label>
                <div class="controls">
                    <select id="shippingstate" name="shippingstate" class="input-xlarge">
                        <option>Please Select</option>
                        <option>Australian Capital Territory</option>
                        <option>New South Wales</option>
                        <option>Northern Territory</option>
                        <option>Queensland</option>
                        <option>South Australia</option>
                        <option>Tasmania</option>
                        <option>Victoria</option>
                        <option>Western Australia</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="shippingcity">Shipping City</label>
                <div class="controls">
                    <input id="shippingcity" name="shippingcity" type="text" placeholder="" class="form-control" required="">
                </div>
            </div>

            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="postcode">Post Code</label>
                <div class="controls">
                    <input id="postcode" name="postcode" type="text" placeholder="" class="form-control" required="">
                </div>
            </div>

            <hr />

            
            </div>

            <div class="form-group col-md-6">
            </div>

            <hr />

            <div class="form-group col-md-12 bg-primary">
                <label class="control-label" for="billinginformation">Billing Address</label>
            </div>

            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="billingaddress1">Address 1</label>
                <div class="controls">
                    <input id="billingaddress1" name="billingaddress1" type="text" placeholder="" class="form-control" required="">
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label" for="billingaddress2">Address 2</label>
                <div class="controls">
                    <input id="billingaddress2" name="billingaddress2" type="text" placeholder="" class="form-control" required="">
                </div>
            </div>

            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="billingcountry">Billing Country</label>
                <div class="controls">
                    <div class="controls">
                        <select id="billingcountry" name="billingcountry" class="input-xlarge">
                            <option>Please Select</option>
                            <option>Australia</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="billingstate">Billing State</label>
                <div class="controls">
                    <select id="billingstate" name="billingstate" class="input-xlarge">
                        <option>Please Select</option>
                        <option>Australian Capital Territory</option>
                        <option>New South Wales</option>
                        <option>Northern Territory</option>
                        <option>Queensland</option>
                        <option>South Australia</option>
                        <option>Tasmania</option>
                        <option>Victoria</option>
                        <option>Western Australia</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="billingcity">Billing City</label>
                <div class="controls">
                    <input id="billingcity" name="billingcity" type="text" placeholder="" class="form-control" required="">
                </div>
            </div>

            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="billingpostcode">Post Code</label>
                <div class="controls">
                    <input id="billingpostcode" name="billingpostcode" type="text" placeholder="" class="form-control" required="">
                </div>
            </div>

            <div class="form-group col-md-12 bg-primary">
                <label class="control-label" for="contactinformation">Contact Information:</label>
            </div>

            <div class="form-group col-md-6">
                <span class="required-lbl">* </span><label class="control-label" for="emailaddress">Email Address</label>
                <div class="controls">
                    <input id="email" name="email" type="email" placeholder="" class="form-control" required="">
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label" for="phone">Phone</label>
                <div class="controls">
                    <input id="phone" name="phone" type="number" placeholder="" class="form-control" required="">
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label" for="organization">Organization</label>
                <div class="controls">
                    <input id="organization" name="organization" type="text" placeholder="" class="form-control" required="">
                </div>
            </div>

            <div class="form-group col-md-12 bg-primary">
                <label class="control-label" for="contactinformation">Additional Information:</label>
            </div>
                        
        <a  class="btn btn-primary" asp-action="Payment" asp-controller="Cart">Pay</a>
                  

        </div>
    </div>
</div>